@import "../sharedStyles.less";

.skills_header {
  color: @light-navy;
}

.skill {
  margin: 12px 0;
}

.skill_label {
  display: inline-block;
  margin-bottom: 2px;
}

.skill_tooltip {
  display: inline-block;
  color: @navy;
  margin-left: 4px;
}

.skill_bar_background {
  position: relative;
  height: 14px;
  width: 100%;
  background-color: @light-gray;
}

.skill_bar_percent {
  position: absolute;
  height: 100%;
  background-color: @navy;
}